.flex, .flex-scroll {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.flex-stretch {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: stretch;
}



/* FLEX ITEMS */
.flex-5 {
    width: 5%;
}

.flex-10 {
    width: 10%;
}

.flex-15 {
    width: 15%;
}

.flex-20 {
    width: 20%;
}

.flex-25 {
    width: 25%;
}

.flex-30 {
    width: 30%;
}

.flex-33 {
    width: 33.33%;
}

.flex-35 {
    width: 35%;
}

.flex-40 {
    width: 40%;
}

.flex-45 {
    width: 45%;
}

.flex-50 {
    width: 50%;
}

.flex-55 {
    width: 55%;
}

.flex-60 {
    width: 60%;
}

.flex-65 {
    width: 65%;
}

.flex-66 {
    width: 66.66%;
}

.flex-70 {
    width: 70%;
}

.flex-75 {
    width: 75%;
}

.flex-80 {
    width: 80%;
}

.flex-85 {
    width: 85%;
}

.flex-90 {
    width: 90%;
}

.flex-95 {
    width: 95%;
}



/* MOBILE */
@media screen and (max-width: 784px) {
    .flex, .flex-stretch {
        flex-direction: column;
        row-gap: 20px;
    }

    .flex-scroll {
        overflow: hidden;
        overflow-x: scroll;
        justify-content: flex-start;
    }

    .flex .flex-5, .flex .flex-10, .flex .flex-15, .flex .flex-20, .flex .flex-25, .flex .flex-30, .flex .flex-33, .flex .flex-35, .flex .flex-40, .flex .flex-45, .flex .flex-50, .flex .flex-55, .flex .flex-60, .flex .flex-65, .flex .flex-66, .flex .flex-70, .flex .flex-75, .flex .flex-80, .flex .flex-85, .flex .flex-90, .flex .flex-95 {
        width: 100%;
    }

    .flex-stretch .flex-5, .flex-stretch .flex-10, .flex-stretch .flex-15, .flex-stretch .flex-20, .flex-stretch .flex-25, .flex-stretch .flex-30, .flex-stretch .flex-33, .flex-stretch .flex-35, .flex-stretch .flex-40, .flex-stretch .flex-45, .flex-stretch .flex-50, .flex-stretch .flex-55, .flex-stretch .flex-60, .flex-stretch .flex-65, .flex-stretch .flex-66, .flex-stretch .flex-70, .flex-stretch .flex-75, .flex-stretch .flex-80, .flex-stretch .flex-85, .flex-stretch .flex-90, .flex-stretch .flex-95 {
        width: 100%;
    }

    .flex-scroll .flex-5, .flex-scroll .flex-10, .flex-scroll .flex-15, .flex-scroll .flex-20, .flex-scroll .flex-25, .flex-scroll .flex-30, .flex-scroll .flex-33, .flex-scroll .flex-35, .flex-scroll .flex-40, .flex-scroll .flex-45, .flex-scroll .flex-50, .flex-scroll .flex-55, .flex-scroll .flex-60, .flex-scroll .flex-65, .flex-scroll .flex-66, .flex-scroll .flex-70, .flex-scroll .flex-75, .flex-scroll .flex-80, .flex-scroll .flex-85, .flex-scroll .flex-90, .flex-scroll .flex-95 {
        min-width: 60%;
    }
}