.flex, .flex-scroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    column-gap: 20px;
    align-items: stretch;
    justify-content: space-between;
}

.flex-5 {
    display: flex;
    flex-direction: column;
    width: 5%;
    align-self: center;
}

.flex-10 {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-self: center;
}

.flex-15 {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-self: center;
}

.flex-20 {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-self: center;
}

.flex-25 {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-self: center;
}

.flex-30 {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
}

.flex-33 {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-self: center;
}

.flex-35 {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: center;
}

.flex-40 {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
}

.flex-45 {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-self: center;
}

.flex-50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.flex-55 {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-self: center;
}

.flex-60 {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}

.flex-65 {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-self: center;
}

.flex-66 {
    display: flex;
    flex-direction: column;
    width: 66.66%;
    align-self: center;
}

.flex-70 {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
}

.flex-75 {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-self: center;
}

.flex-80 {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}

.flex-85 {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-self: center;
}

.flex-90 {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}

.flex-95 {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
}



/* MOBIEL */
@media screen and (max-width: 784px) {
    .flex {
        flex-direction: column;
        row-gap: 20px;
        column-gap: 0px;
    }

    .flex .flex-5, .flex .flex-10, .flex .flex-15, .flex .flex-20, .flex .flex-25, .flex .flex-30, .flex .flex-33, .flex .flex-35, .flex .flex-40, .flex .flex-45, .flex .flex-50, .flex .flex-55, .flex .flex-60, .flex .flex-65, .flex .flex-66, .flex .flex-70, .flex .flex-75, .flex .flex-80, .flex .flex-85, .flex .flex-90, .flex .flex-95 {
        width: 100%;
    }

    .flex-scroll {
        overflow: hidden;
        overflow-x: scroll;
    }

    .flex-scroll .flex-20 {
        min-width: 125px;
    }
}