nav {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

nav .nav-left {
    width: 25%;
}

nav .nav-left a img {
    height: 8vh;
    margin-top: 4px;
    border-radius: 0px;
}



/* NAV RIGHT LAPTOP */
nav .nav-right-mobile {
    display: none;
}

nav .nav-right-laptop {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

nav .nav-right-laptop a {
    padding-top: 2.5px;
    font-family: "Figtree", "sans serif";
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(45, 46, 131);
    border-bottom: 2.5px solid rgba(45, 46, 131, 0);
    transition: all 0.2s ease-in-out;
}

nav .nav-right-laptop a:hover {
    color: rgb(138, 203, 193);
    border-bottom: 2.5px solid rgba(138, 203, 193, 1);
}



/* NAV RIGHT MOBIEL */
@media screen and (max-width: 784px) {
    nav {
        height: 7.5vh;
    }

    nav .nav-right-laptop {
        display: none;
    }

    nav .nav-left {
        width: 50%;
    }

    nav .nav-left a img {
        height: 5vh;
        margin-top: 5px;
    }

    nav .nav-right-mobile {
        display: unset;
    }

    nav span.mobile-nav-link {
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-family: "Figtree", "sans serif";
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: #f1f1f1;
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }
}



/* NAV DESKTOP */
@media screen and (min-width: 1400px) {
    nav {
        height: 7.5vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    nav .nav-left a img {
        height: 6vh;
    }
}



/* FOOTER */
footer {
    margin-top: 100px;
}

footer .footer-top {
    display: flex;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10px;
    padding-bottom: 12.5px;
    font-size: 0.85rem;
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    justify-content: space-between;
    user-select: none;
}

footer .footer-top b {
    font-family: "Figtree", "sans serif";
    font-size: 0.9rem;
    font-weight: 500;
}

footer .footer-top .footer-top-middle {
    text-align: center;
}

footer .footer-top .footer-top-right {
    text-align: right;
}

footer .footer-middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 0.8rem;
    text-align: center;
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    justify-content: center;
    user-select: none;
}

footer .footer-middle a img {
    margin-bottom: 6.25px;
    height: 12.5vh;
    border-radius: 0px;
}

footer .footer-middle a {
    color: rgb(255, 255, 255);
}

footer .footer-bottom {
    display: flex;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 12.5px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    justify-content: space-between;
    user-select: none;
}

footer .footer-bottom a {
    color: rgb(255, 255, 255);
}



/* FOOTER MOBIEL */
@media screen and (max-width: 784px) {
    footer .footer-top, footer .footer-bottom {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    footer .footer-top .footer-top-middle, footer .footer-top .footer-top-right {
        margin-top: 12.5px;
        text-align: center;
    }

    footer .footer-middle a img {
        width: 75%;
        height: max-content;
    }

    footer .footer-bottom {
        row-gap: 5px;
    }
}