/* LAPTOP + DESKTOP */
nav {
    display: flex;
    width: 100%;
    height: 12.5vh;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .nav-left {
    width: 22.5%;
}

nav .nav-left a img {
    height: 8vh;
    margin-top: 4px;
    border-radius: 0px;
}

nav .nav-right-laptop {
    display: flex;
    width: 77.5%;
    justify-content: space-between;
}

nav .nav-right-laptop a {
    padding-top: 3.75px;
    padding-bottom: 1.25px;
    font-family: "Figtree", "sans serif";
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(45, 46, 131);
    border-bottom: 2.5px solid rgba(45, 46, 131, 0);
    transition: all 0.2s ease-in-out;
}

nav .nav-right-laptop a:hover {
    border-bottom: 2.5px solid rgb(45, 46, 131);
}

nav .nav-right-mobile {
    display: none;
}



/* FOOTER */
footer {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer .footer-top {
    font-size: 0.8rem;
}

footer .footer-top a img {
    width: 20vw;
    border-radius: 0px;
}

footer .footer-top p {
    margin: 10px;
}

footer .footer-bottom {
    display: flex;
    width: 100%;
    font-size: 0.85rem;
    justify-content: space-between;
}



/* MOBIEL */
@media screen and (max-width: 784px) {
    nav {
        height: 10vh;
    }

    nav .nav-right-laptop {
        display: none;
    }

    nav .nav-right-mobile {
        display: unset;
    }

    nav .nav-left {
        width: 50%;
    }

    nav .nav-left a img {
        height: 6vh;
    }

    nav .nav-right-mobile {
        text-align: right;
        color: rgb(45, 46, 131);
    }

    nav span.mobile-nav-link {
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-family: "Figtree", "sans serif";
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: #f1f1f1;
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }

    footer {
        width: 100%;
    }

    footer .footer-top a img {
        width: 60%;
    }

    footer .footer-bottom {
        flex-direction: column;
    }
}