@media screen and (max-width: 784px) {
    /* TEKST */
    .align-right {
        text-align: left;
    }
    


    /* LAY-OUT */
    main.thin {
        width: 80%;
    }



    /* HEADER */
    header .header-image {
        border-radius: 25px;
    }

    header .header-image-text {
        height: 21.5vh;
    }

    header .header-text {
        width: 100%;
    }
}