@media screen and (max-width: 784px) {
    /* LAY-OUT */
    section {
        padding-left: 5%;
        padding-right: 5%;
    }



    /* TEKST */
    h1 {
        font-size: 3.5rem;
    }



    /* BUTTONS */



    /* AFBEELDINGEN */



    /* OVERIGE BOXES */



    /* HEADER */
    header .header-image {
        height: 75vh;
    }

    header .header-title {
        height: 25vh;
    }
}