@media screen and (max-width: 784px) {
    body {
        padding-top: 10vh;
    }



    /* HEADER */
    header.header-image {
        height: 87.5vh;
    }

    header .header-overlay {
        text-align: center;
    }
}