@media screen and (min-width: 1400px) {
    body {
        padding-top: 10vh;
    }

    main {
        width: 80%;
    }

    footer .footer-top, footer .footer-middle, footer .footer-bottom {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    header.header-image {
        height: 87.5vh;
    }
}