@media screen and (min-width: 1400px) {
    body {
        padding-top: 10vh;
    }

    main {
        width: 80%;
    }

    footer .footer-top, footer .footer-middle, footer .footer-bottom {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    header.header-image {
        height: 87.5vh;
    }

    h1 {
        font-size: 4.5rem;
    }

    .image-box {
        min-height: 300px;
    }

    [id] {
        scroll-margin-top: 10vh;
    }
}