* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(138, 203, 193, 0.25);
    font-family: "Livvic", "sans serif";
    font-size: 1rem;
}

html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 12.5vh;
}



/* LETTERTYPE */
@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Thin.ttf) format(truetype);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-ThinItalic.ttf) format(truetype);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-ExtraLight.ttf) format(truetype);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-ExtraLightItalic.ttf) format(truetype);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Light.ttf) format(truetype);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-LightItalic.ttf) format(truetype);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Italic.ttf) format(truetype);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Medium.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-MediumItalic.ttf) format(truetype);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-SemiBoldItalic.ttf) format(truetype);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-BoldItalic.ttf) format(truetype);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-Black.ttf) format(truetype);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Livvic";
    src: url(../ttf/Livvic-BlackItalic.ttf) format(truetype);
    font-weight: 800;
    font-style: italic;
}



/* LAY-OUT */
main {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 20vh;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

section.section-thin {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

section#links-downloads {
    row-gap: 0px;
}



/* TEKST */
h1 {
    font-size: 4.75rem;
    font-weight: 600;
}

h2 {
    color: rgb(45, 46, 131);
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    margin-top: 5px;
    color: rgb(45, 46, 131);
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 1.75rem;
    font-weight: 500;
}

h5 {
    margin-top: 5px;
    color: rgb(45, 46, 131);
    font-size: 1.5rem;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

b {
    font-weight: 600;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 2.5px;
    padding-left: 30px;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

section h2 {
    text-align: center;
    margin-bottom: -30px;
}

section#attractions h2 {
    margin-bottom: -15px;
}

section#links-downloads h4 {
    margin-bottom: -5px;
}

.flex-50-text h4 {
    margin-top: 20px;
}

i.fa-solid.fa-up-right-from-square {
    margin-left: 2px;
    margin-right: 4px;
    font-size: 0.8rem;
}



/* TEKST BOXES */
.text-box {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.tag-blue {
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 46, 131);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 25px;
    user-select: none;
}

.tag-cyan {
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(45, 46, 131);
    background-color: rgb(138, 203, 193);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 25px;
    user-select: none;
}

.tag-black {
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 25px;
    user-select: none;
}

.info-box-blue {
    display: block;
    width: 100%;
    height: max-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 27.5px;
    color: rgb(255, 255, 255);
    font-size: 0.85rem;
    background-color: rgba(45, 46, 131, 0.6);
    border: 2.5px solid rgb(45, 46, 131);
    border-radius: 5px;
}

.info-box-blue b {
    font-weight: 600;
    text-transform: uppercase;
}



/* BUTTONS */
a.button-blue {
    display: block;
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    color: rgb(45, 46, 131);
    font-size: 0.9rem;
    text-decoration: none;
    border: 2.5px solid rgb(45, 46, 131);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a.button-blue:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 46, 131);
}

a.button-cyan {
    display: block;
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    color: rgb(138, 203, 193);
    font-size: 0.9rem;
    text-decoration: none;
    border: 2.5px solid rgb(138, 203, 193);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a.button-cyan:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(138, 203, 193);
}

a.button-black {
    display: block;
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    text-decoration: none;
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a.button-black:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}



/* DETAILS */
details.timetable {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 15px;
}

details.timetable summary {
    text-decoration: underline;
    cursor: pointer;
}

details.timetable summary:hover {
    text-decoration: none;
}

details.timetable .timetable-content {
    overflow: hidden;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 30px;
    transition: height 0.25s ease-in-out;
}

details.timetable .timetable-content b {
    font-weight: 500;
}

details.timetable .timetable-content ul {
    row-gap: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    list-style-type: square;
}



/* FLEXBOX */
.flex-stretch {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: stretch;
}

.flex-40 {
    width: 40%;
}

.flex-50 {
    width: 50%;
}

.flex-50-text {
    width: 50%;
    padding-top: 42.5px;
    padding-bottom: 50px;
}

.flex-60 {
    width: 60%;
}



/* AFBEELDINGEN */
img {
    max-width: 100%;
    height: auto;
}

.image-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 250px;
    padding: 5px;
    background-color: rgb(191, 191, 191);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.image-box .credits-overlay {
    width: max-content;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.65rem;
    font-weight: 300;
    border-radius: 5px;
}



/* HEADER */
header.header-small {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 57.5vh;
    padding-top: 10vh;
    margin-bottom: 2.5vh;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 46, 131);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    align-self: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

header.header-large {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97.5vh;
    margin-bottom: 2.5vh;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 46, 131);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    align-items: center;
    justify-content: center;
}

header .header-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    align-items: center;
    justify-content: flex-end;
}



/* NAVIGATIE */
nav {
    z-index: 99;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-bottom: 2.5px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

nav .nav-left a img {
    height: 7vh;
    margin-top: 4px;
    transition: all 0.2s ease-in-out;
}

nav .nav-left a img#yes-scroll {
    display: none;
}

nav .nav-right {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    transition: all 0.2s ease-in-out;
}

nav .nav-right a {
    padding-top: 2.5px;
    color: rgb(255, 255, 255);
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2.5px solid transparent;
    transition: all 0.2s ease-in-out;
}

nav .nav-right a:hover {
    border-bottom: 2.5px solid rgb(255, 255, 255);
}

nav.scrolled {
    width: 100%;
    height: 10vh;
    padding-left: calc(5vw + 10px);
    padding-right: calc(5vw + 10px);
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 2.5px solid rgb(255, 255, 255);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

nav.scrolled a img#yes-scroll {
    display: unset;
}

nav.scrolled a img#no-scroll {
    display: none;
}

nav.scrolled .nav-right a {
    color: rgb(45, 46, 131);
}

nav.scrolled .nav-right a:hover {
    color: rgb(138, 203, 193);
    border-bottom: 2.5px solid rgb(138, 203, 193);
}

nav .nav-mobile {
    display: none;
}



/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 46, 131);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
    align-items: center;
    user-select: none;
}

footer a img {
    height: 10vh;
}

footer b {
    font-size: 0.8rem;
    font-weight: 400;
}



/* OVERIGE */
table {
    table-layout: fixed;
    border: none;
    border-spacing: 0px;
}

table tr td {
    padding-right: 50px;
}

.spacing-75 {
    height: 7.5px;
}



/* RESPONSIVE MOBIEL */
@media screen and (max-width: 784px) {
    /* LAY-OUT */
    main {
        width: 90%;
    }

    section#attractions {
        row-gap: 75px;
    }

    section.section-thin {
        width: 100%;
    }



    /* TEKST */
    h1 {
        font-size: 3.5rem;
    }

    section#attractions h2 {
        margin-bottom: -50px;
    }

    section#attractions h4 {
        margin-top: 10px;
        text-align: center;
    }

    .tag-blue, .tag-cyan, .tag-black, a.button-blue, a.button-cyan, a.button-black {
        margin-left: auto;
        margin-right: auto;
    }



    /* FLEXBOX */
    .flex-stretch {
        flex-direction: column;
        row-gap: 10px;
    }

    .flex-50-text {
        padding-top: 12.5px;
        padding-bottom: 20px;
    }

    .flex-40, .flex-50, .flex-50-text, .flex-60 {
        width: 100%;
    }



    /* HEADER */
    header.header-small {
        height: 37.5vh;
    }



    /* NAVIGATIE */
    nav {
        height: 7.5vh;
        color: rgb(255, 255, 255);
    }

    nav .nav-left a img {
        height: 5vh;
    }

    nav .nav-right {
        display: none;
    }

    nav .nav-mobile {
        display: unset;
    }

    nav span.mobile-nav-link i.fa-solid.fa-bars {
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 10px;
        text-decoration: none;
        font-size: 2rem;
        color: rgb(129, 129, 129);
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: rgb(241, 241, 241);
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }

    nav.scrolled {
        height: 7.5vh;
        color: rgb(0, 0, 0);
        border-bottom: 2.5px solid rgb(255, 255, 255);
    }

    nav.scrolled .nav-left a img {
        height: 5vh;
    }



    /* FOOTER */
    footer a img {
        height: 5vh;
    }



    /* OVERIGE */
    table {
        width: 100%;
    }
}



/* RESPONSIVE DESKTOP */
@media screen and (min-width: 1400px) { 
    /* HEADER */
    header.header-small {
        height: 47.5vh;
    }



    /* NAVIGATIE */
    nav {
        height: 7.5vh;
    }

    nav .nav-left a img {
        height: 6vh;
    }

    nav .nav-right {
        column-gap: 40px;
    }

    nav.scrolled {
        height: 7.5vh;
    }
}



/* RESPONSIVE BREDE SCHERMEN */
@media screen and (min-width: 2000px) {
    nav {
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
}