@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

body {
    font-family: "Karla", "sans serif";
    font-size: 1rem;
    background-color: rgba(138, 203, 193, 0.25);
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}



/* TEKST */
h1 {
    font-family: "Figtree", "sans serif";
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h2 {
    font-family: "Figtree", "sans serif";
    font-size: 2.6rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h3 {
    font-family: "Figtree", "sans serif";
    font-size: 2rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h4 {
    font-family: "Figtree", "sans serif";
    font-size: 1.75rem;
    font-weight: 500;
    color: rgb(45, 46, 131);
}

h5 {
    font-family: "Figtree", "sans serif";
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(45, 46, 131);
}

h6 {
    font-family: "Figtree", "sans serif";
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(45, 46, 131);
}

.small {
    font-size: 0.9rem;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    margin-left: 30px;
    margin-bottom: 5px;
    list-style-position: outside;
    list-style-type: square;
}

ul li {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.align-right {
    text-align: right;
}

.gap {
    height: 10px;
}


/* HEADER */
header .header-image {
    width: 100%;
    height: 67.5vh;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

header .header-image-text {
    display: flex;
    width: 100%;
    height: 19vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header .header-text {
    display: flex;
    width: 100%;
    height: 35vh;
    margin-bottom: 5vh;
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

header .header-text h1 {
    color: rgb(255, 255, 255);
}

header .header-line {
    width: 85%;
    height: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: rgb(45, 46, 131);
    border-radius: 10px;
}



/* MAIN + LAY-OUT */
main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2.5vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10vh;
}

main.thin {
    width: 66%;
}

section h1, section h2 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section.white {
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

section.white h4 {
    color: rgb(0, 0, 0);
}

.large-margin-bottom {
    margin-bottom: 20px;
}




/* AFBEELDINGEN */
.image-box-250 {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.image-box-300 {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}



/* BOXES */
.info-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    background-color: rgba(45, 46, 131, 0.25);
    border-left: 5px solid rgb(45, 46, 131);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info-box b {
    font-family: "Figtree", "sans serif";
    font-weight: 500;
    text-transform: uppercase;
}



/* IFRAME */
iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
}



/* TABEL */
table {
    table-layout: fixed;
    border-collapse: collapse;
}