@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

body {
    padding-top: 12.5vh;
    background-color: rgba(138, 203, 193, 0.25);
    font-family: "Karla", "sans serif";
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}



/* TEKST */
h1 {
    font-family: "Figtree", "sans serif";
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: "Figtree", "sans serif";
    font-size: 2.6rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h3 {
    font-family: "Figtree", "sans serif";
    font-size: 2.2rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h4 {
    font-family: "Figtree", "sans serif";
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h5 {
    font-family: "Figtree", "sans serif";
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

h6 {
    font-family: "Figtree", "sans serif";
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-left: 15px;
    list-style-type: square;
}

ul li {
    margin-left: 15px;
}

ul.link-list li {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}



/* LAY-OUT */
main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    row-gap: 10vh;
}

section h1, section h2, section h3 {
    margin-bottom: 10px;
    text-align: center;
}

section.section-small {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section.section-white {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

section.section-blue {
    width: 100%;
    padding: 10px;
    background-color: rgba(45, 46, 131, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

section.section-small-white {
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

section#attractions h4 {
    font-weight: 500;
    color: rgb(0, 0, 0);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2.5px solid rgba(45, 46, 131, 0.25);
    border-radius: 2.5px;
}

[id] {
    scroll-margin-top: 12.5vh;
}

i.fa-solid {
    font-size: 0.825rem;
}



/* BOXES */
.text-box {
    width: 100%;
    padding-top: 50px;
}

.info-box {
    width: 100%;
    height: max-content;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    background-color: rgba(45, 46, 131, 0.25);
    border: 2.5px solid rgb(45, 46, 131);
    border-radius: 5px;
}

.info-box a i.fa-solid {
    font-size: 0.75rem;
}

.image-box {
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.image-box-large {
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

a.image-link-box {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 250px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.image-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 250px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}

.image-overlay:hover {
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.image-overlay b {
    margin-bottom: 1.25px;
    font-family: "Figtree", "sans serif";
    font-size: 1.4rem;
    font-weight: 600;
}



/* LINK BUTTONS */
a.border-button-white {
    width: max-content;
    padding: 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2.5px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a.border-button-white:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(45, 46, 131);
}

a.border-button-black {
    width: max-content;
    padding: 5px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a.border-button-black:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

a.button-cyan {
    width: max-content;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(138, 203, 193);
    color: rgb(45, 46, 131);
    text-decoration: none;
    border: 2.5px solid rgb(138, 203, 193);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

a.button-cyan:hover {
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    border: 2.5px solid rgb(45, 46, 131);
}

a.border-button-white i.fa-solid, .border-button-black i.fa-solid {
    margin-left: 5px;
    font-size: 0.9rem;
}



/* TAGS */
.tag-blue {
    width: max-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family: "Figtree", "sans serif";
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



/* GAPS */
.gap-20 {
    height: 20px;
}



/* IFRAME */
iframe {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: none;
    border-radius: 10px;
}



/* HEADER */
header.header-image {
    width: 97.5%;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

header .header-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px;
    row-gap: 5px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    justify-content: flex-end;
}

header.header-text {
    display: flex;
    width: 97.5%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}



/* VARIA */
.travel-option {
    display: flex;
    flex-direction: column;
}

.travel-option b {
    margin-top: 10px;
}

.travel-option-list b {
    font-family: "Figtree", "sans serif";
    font-size: 1.1rem;
    font-weight: 500;
}