@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 30vw;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: "Mulish", "sans serif";
    font-size: 1rem;
    background-color: rgba(138, 203, 193, 0.25);
    align-items: center;
    justify-content: center;
}

.text-box {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

b {
    font-family: "Bricolage Grotesque", "sans serif";
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(45, 46, 131);
}

.spacing {
    height: 25px;
}


@media screen and (max-width: 576px) {
    img {
        width: 75vw;
    }
}